body{
    background-size: cover;
    background-image: url(bg.jpg);
    background-attachment: fixed;
}
.game-heading{
    text-align: center;
    text-shadow: 10;
}

.moves-text{
    font-family: "Courier New", "Lucida Console";
    font-weight: bold;
    color: orange;
    font-size: 50px;
    text-shadow: 1px 1px hsl(850,90%,80%);
}
.moves-count{
    font-family: "Courier New", "Lucida Console";
    font-weight: bold;
    color: orange;
    font-size: 50px;
    text-shadow: 1px 1px hsl(850,90%,80%);
}
.hours , .minutes, .seconds{
    font-family: "Courier New", "Lucida Console";
    font-weight: bold;
    color: orange;
    font-size: 50px;
    text-shadow: 1px 1px hsl(850,90%,80%);
}
.re{
    font-family: "Courier New", "Lucida Console";
    font-weight: bold;
    color: green;
    font-size: 30px;
    text-shadow: 1px 1px hsl(850,90%,80%);
    border: solid  #00FFFF;
    border-radius: 10px;
    background-color: white;
    opacity: 0.8;
}

.re:hover{
    font-family: "Courier New", "Lucida Console";
    font-weight: bold;
    color: red;
    font-size: 30px;
    text-shadow: 1px 1px hsl(850,90%,80%);
    transition: 0.5s
    border-radius: 10px;
    background-color:   #1E90FF;
    opacity: 1;
}

.deck {
    width: 80%;
    height: 100%;
    min-height: 0px;
    /*background: -webkit-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);*/
    padding: 10px;
    border-radius: 50px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    margin: 0 0 1em;
    /*-ms == IE
      -webkit- == chrome,safari
      -o- == opera
      -moz- == firefox
    */
}

.card {
    
    height: 220px;
    width: 220px;
    margin: 10px;
    background-image: url(card.jpg);
    font-size: 0;
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-transition:
    font-size 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.5s,
    -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    -moz-transition:
    font-size 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.5s,
    -moz-transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    -o-transition:
    font-size 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background 0.5s;

    transition:
    font-size 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background 0.5s,
    -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card.open .fab {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card.open {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    cursor: default;
    background: #00BFFF;
}

.card.show {
    font-size: 3em;
}

.card.match {
    cursor: default;
    background: #02ccba;
    font-size: 3em;
}

.card.bounceIn {
    -webkit-animation-name: BounceIn;
    -moz-animation-name: BounceIn;
    -o-animation-name: BounceIn;
    animation-name: BounceIn;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
    -o-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.card.bounceIn .fab {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
